html {
    background-image: url("https://wallpaperset.com/w/full/a/7/e/99262.jpg");
}

.codebox {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 40px;
    width: 40px;
    border: 1px;
    background-color: #0000000;
}

 .arrow1{
      background-image: url("https://icons.iconarchive.com/icons/saki/nuoveXT/128/Small-arrow-left-icon.png");
      height: 155px;
      width: 154px;
      position: absolute;
      left:1630px;
      top: 380px;

    }

 .arrow2{
      background-image: url("https://icons.iconarchive.com/icons/saki/nuoveXT/128/Small-arrow-left-icon.png");
      height: 155px;
      width: 154px;
      position: absolute;
      left:1630px;
      top: 800px;

    }

 .arrow3{
      background-image: url("https://icons.iconarchive.com/icons/saki/nuoveXT/128/Small-arrow-left-icon.png");
      height: 155px;
      width: 154px;
      position: absolute;
      left:1630px;
      top: 580px;

    }

            h11{
              font-size: 27;
        text-align: center;
  font-family: 'Comic Sans MS';
  color: rgb(248, 242, 242);
  font-weight: bold;
      position: absolute;
      left:1730px;
      top: 430px;

    }

         h12{
              font-size: 27;
        text-align: center;
  font-family: 'Comic Sans MS';
  color: rgb(248, 242, 242);
  font-weight: bold;
      position: absolute;
      left:1730px;
      top: 640px;

    }

           h13{
              font-size: 27;
        text-align: center;
  font-family: 'Comic Sans MS';
  color: rgb(248, 242, 242);
  font-weight: bold;
      position: absolute;
      left:1730px;
      top: 860px;

    }

    


.name {
    
              font-size: 70;
        text-align: center;
  background: orange;
  font-family: 'Comic Sans MS';
  color: rgb(248, 242, 242);
  font-weight: bold;
  border-radius: 100px;
  padding: 60px;
      position: absolute;
      left:620px;
      top: 1px;
}


.powerups {
    position: absolute;
    left: 100px;
    top: 80px;
    font-size: 65px;
    font-family: 'Comic Sans MS';
    color:  orange 
  

  
}

#var {
    position: absolute;
    left: 945px;
    top: 380px;
    font-size: 36px;
    font-family: 'Comic Sans MS';
    color: orange;
  
                

  
}

.texty {
    font-family: 'Comic Sans MS';
    font-size: 60px;
    color: orange (0, 0%, 100%, 0.8);
    text-shadow: 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1);
  
}
.version {
    font-family: 'Comic Sans MS';
    position: absolute;
    font-size: 30px;
    left: 16px;
    top: 15px;
    color: orange;
    text-shadow: 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1);

}

   h10 {
    font-family: 'Comic Sans MS';
    position: absolute;
    font-size: 50px;
    left: 1570px;
    top: 250px;
    color: orange;
    text-shadow: 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1);

}






#exitgamebtn {
  text-align: center;
  background: red;
  font-family: 'Comic Sans MS';
  color: rgb(248, 242, 242);
  font-size: 35px;
  font-weight: bold;
  border-radius: 20px;
  padding: 15px;
  position: absolute;
    left: 1600px;
    top: 980px;
}

#basketball-click{
  position: absolute;
 height: 390px;
width: 390px;  
  left: 885;
  top: 500;
  cursor: pointer;
border-radius: 192px;
}


.buybox {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 1px solid;
    font-family: 'Comic Sans MS';
    

    background-color: #ff9500;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1);
}



.inline {
    color: rgb(248, 242, 242);
    display: inline-block;
    vertical-align: middle;
}





.bybox incline {
  position: absolute;
  left: 800;
  top: 500;
    color: rgb(248, 242, 242);
    text-shadow: 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 10px hsla(278, 100%, 50%, 0.5),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1);

}